/* Add your own custom styles here */

/* Chinese language specific font stack */
html:lang(zh-CN) body {
  font-family:"微软雅黑",Microsoft YaHei !important;
}

.brand-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-even {
  background: rgba(248, 244, 235, 1);
}
